@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  

}

body {
  background-color: white;
  color: black;
  font-family: 'Comfortaa', cursive;
}


.nav {
  background: #7124a3;
  color: white;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-weight: bold;
  align-items: center;

}

.nav > a{
  color: white;
} 

.home h1 {
  font-size: 40px;
  
}

.home {
  align-items: center;
  font-size: 40px;
  padding-bottom: 30px;

}

.big-logo {
  padding: 25px;
}

.footer-space {
  height: 70px;
}

.logOrSign {
  padding: 25px;
}

.homeIntro {
  font-size: 25px;
  margin-right: 50px;
  margin-left: 50px;
}

.practice > img {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.profile-pic {
  padding-top: 50px;
}

.profile1 {
  padding: 20px;
  padding-bottom: 40px;
}

.img2 {
  padding-bottom: 60px;
}

.find-teacher > h1 {
  padding-top: 10px;
  font-size: 30px;
}

.join-meeting {
    padding: 50px;
    margin-bottom: -50px;
}
