.App {
  text-align: center;
}

body {
  background-color: #b16ddf;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background: #7124a3;
  color: white;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

/* .nav:visited {
  color: white;
} */

.home h1 {
  font-size: 40px;
}

.home {
  align-items: center;
  font-size: 40px;
  padding-bottom: 150px;
}

.big-logo {
  padding: 25px;
}